// project area design

@import '../root.scss';

.pj-container {
  @include viewport-size;
}
.pj-title {
  @include page-title;
}

// 카드 컴포넌트 디자인
.pj-card {
  width: 95%;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid $gray;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pj-image {
  width: 80%;
  height: auto;
  object-fit: cover;
  margin: 16px 0;
}

.pj-info {
  width: 80%;
  line-height: 1.7;
}
.pj-item-title {
  font-size: 22px;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.pj-date,
.pj-skills,
.pj-response {
  margin: 12px 0;
}
.pj-info-title {
  font-weight: 700;
  border-left: 5px solid $gray;
  padding: 0 9px;
}
.pj-info-value {
  margin: 6px 0;
}

// btn
.pj-link {
  padding: 8px 0;
}
.openlink {
  @include link-btn;
}
