// type animation

@import '../root.scss';

.greeting {
  white-space: pre-wrap; // 줄바꿈 유지
  line-height: 1.5;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 700;
}
